
a {
  text-decoration: none;
}

p a {
  text-decoration: none;
}

footer a img {
  height: 2em;
  margin-bottom: 15px;
}

.container.noheader {
  padding-top: 5.5rem;
}

.profile-row {
  border-top: 2px solid #CC4141;
}

  .profile-row .profile-image {
    width: 100%;
  }

    .profile-row .profile-image img {
      width: 100%;
    }

  .profile-row .profile-left {
    padding: 0;
  }

  .profile-row .profile-right a {
    text-decoration: none;
  }

.highlight {
  color: #CC4141;
}

.icons-social a img {
  height: 68px;
  margin: 10px 8px;
}

.icons-social a.wide img {
  width: 136px;
}

.icons-social i {
  font-size: 3em;
}

.books table {
  display: inline-block;
  margin-right: 50px;
}

  .books table img {
    max-height: 200px;
  }

a.tag-badge {
  text-decoration: none;
  font-style: normal;
}

  a.tag-badge:hover {
    background-color: #CC4141 !important;
  }

.tag-list {
  margin-top: -20px;
  margin-bottom: 20px;
}
