<p>
  <a title='SSW Solution Architect' target="_blank" href="https://ssw.com.au/people/gordon-beeming" rel="nofollow">Gordon Beeming</a> is a SSW Solution Architect and has been a Microsoft MVP since 2014 for Developer Technologies.
</p>
<p>
  He's uber passionate about helping people really understand DevOps and how they approach their problems with a DevOps mindset.
</p>
<p>
  He's used the Microsoft stack for many years starting with .net 2.0 in 2008. He's worked with Azure DevOps since the early on-premises TFS days and used the cloud version since available as tfpreview.
</p>
<p>
  He's co-authored many guidance docs as part of the ALM Rangers, written 2 books on Customization TFS and a co-authored of Managing Agile Open-Source Software Projects with Visual Studio Online (now Azure DevOps Services).
</p>
<p>
  When he's not pushing technology limits you'll find him training for the next swim/bike/run event or relaxing with his family.
</p>
<p>
  You can connect with him on his <a href="https://gordonbeeming.com/">social platforms</a> or take a look at his <a href="https://www.youtube.com/@@gordonbeeming">YouTube channel (@@gordonbeeming)</a> to see what he's playing with currently.
</p>