@{
  var headerName = "Gordon Beeming";
  if (ViewData.ContainsKey("Heading") && ViewData["Heading"] != null)
  {
    headerName = (string)ViewData["Heading"]!;
  }
  var headerImagePath = "/images/about-me-banner.jpg";
  if (ViewData.ContainsKey("HeadingImage") && ViewData["HeadingImage"] != null)
  {
    headerImagePath = (string)ViewData["HeadingImage"]!;
  }
}
<header class="masthead" style="background-image: url('@(headerImagePath)')">
<div class="container position-relative px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="page-heading home-header">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <img src="/images/profile-flip.png" width="300" height="300" />
          </div>
          <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <h1>@(headerName)</h1>
            <span class="subheading">
              Father | Husband | <a title='Gordon Beeming on Strava' target="_blank" href="https://www.strava.com/athletes/gordonbeeming" rel="nofollow">Triathlete</a>
              <br />
              <a title='SSW Solution Architect' target="_blank" href="https://ssw.com.au/people/gordon-beeming" rel="nofollow">SSW Solution Architect</a> | <a title='Microsoft MVP (Azure DevOps &AMP; GitHub)' target="_blank" href="https://mvp.microsoft.com/en-us/PublicProfile/5000879" rel="nofollow">Microsoft MVP</a>
            </span>
            <div class="icons-social">
              <a title='LinkedIn (gordon-beeming)' target="_blank" href="https://www.linkedin.com/in/gordon-beeming" rel="nofollow"><img src="/images/linkedin.svg" border="0" /></a>
              <a title='X (GordonBeeming)' target="_blank" href="https://twitter.com/GordonBeeming" rel="nofollow"><img src="/images/X.svg" border="0" /></a>
              <a title='GitHub (gordonbeeming)' target="_blank" href="https://github.com/gordonbeeming" rel="nofollow"><img src="/images/github-mark.svg" border="0" /></a>
              <a title='youtube' target="_blank" href="https://www.youtube.com/@@gordonbeeming" rel="nofollow"><img src="/images/youtube.svg" border="0" /></a>
              <a title='stackoverflow' target="_blank" href="https://stackoverflow.com/story/gordon-beeming" rel="nofollow"><img src="/images/stackoverflow.svg" border="0" /></a>
              <a title='Strava (gordonbeeming)' target="_blank" href="https://www.strava.com/athletes/gordonbeeming" rel="nofollow"><img src="/images/strava.svg" border="0" /></a>
              <a title='Unsplash (@@gordonbeeming)' target="_blank" href="https://unsplash.com/@@gordonbeeming" rel="nofollow"><img src="/images/Unsplash.svg" border="0" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>