@{
  Layout = "_Layout";
}

@section Head {
  @await RenderSectionAsync("Head", required: false)
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('@ViewData["HeadingImage"]')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="site-heading">
          <h1>@ViewData["Heading"]</h1>
          <span class="subheading">
            @ViewData["SubHeading"]
            @await RenderSectionAsync("SubHeading", required: false)
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
@if (!ViewData.ContainsKey("HideBody"))
{
  <!-- Main Content-->
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <main>
          @RenderBody()
        </main>
      </div>
    </div>
  </div>
}
@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}