@{
  Layout = "_Layout";
}

@section Head {
  @await RenderSectionAsync("Head", required: false)
  <meta name="description" content="Father | Husband | Triathlete | SSW Solution Architect | Microsoft MVP (GitHub & Azure DevOps)" />
  <meta name="author" content="Gordon Beeming" />
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('@ViewData["HeadingImage"]')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="page-heading">
          <h1>@ViewData["Heading"]</h1>
          <span class="subheading">
            @ViewData["SubHeading"]
            @await RenderSectionAsync("SubHeading", required: false)
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-10">
        @RenderBody()
      </div>
    </div>
  </div>
</main>

@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}