@{
  Layout = "_PageHeading";
  ViewData["Title"] = "500";
  ViewData["HeadingImage"] = "/images/500-banner.jpg";
  ViewData["Heading"] = "500";
  ViewData["SubHeading"] = string.Empty;
  ViewData["HideBody"] = true;
}

@section Head {
  <meta name="robots" content="noindex nofollow" />
}

@section SubHeading {
          This is probably on me. Maybe try again... or try something else?
  <p>Let's go <a href="/blog/">home</a> and try from there.</p>
}